.footer {
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2.25rem 1.25rem;
}

.footer p {
    color: #c0c0c0;
}

.footer span {
    display: flex;
    gap: 1.75rem;
}

.footer span a {
    transition: 0.2s;
}

.footer span a:hover {
    scale: 1.2;
}
