.header {
    display: flex;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu-logo img {
    max-width: 5rem;
}

.links-internos ul {
    display: flex;
    gap: 5rem;
}
.links-internos ul a {
    display: inline-block;
    padding: 0.5rem;
}

.links-internos li {
    display: flex;
    align-items: center;
}

.links-internos li a::after {
    content: '';
    display: block;
    height: 0.125rem;
    width: 0px;
    background: #fff;
    margin-top: 0.25rem;
    transition: all 0.3s;
}
.links-internos ul li a:hover::after,
.links-internos ul li a.ativo::after {
    width: 100%;
}

#menu li:last-child::after {
    content: url(../../img/menu/user.svg);
}

/* Mobile menu */

#btn-mobile {
    display: none;
}

@media (max-width: 680px) {
    #btn-mobile {
        display: block;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 6.25rem;
        right: 0px;
        background: #2b2b2b;
        z-index: 1000;
        transition: 0.6s;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
    }
    .links-internos.active #menu {
        height: calc(49vh - 100px);
        visibility: visible;
    }
    #menu a {
        display: block;
        padding: 1rem 0;
        border-bottom: 0.125rem solid rgba(0, 0, 0, 1);
    }
    #menu a:hover {
        background: rgba(0, 0, 0, 0.7);
    }
    .links-internos ul li a:hover::after,
    .links-internos ul li a.ativo::after {
        width: 0;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: #fff;
        gap: 0.5rem;
    }
    #hamburguer {
        display: block;
        border-top: 0.125rem solid;
        width: 1.25rem;
    }
    #hamburguer::after,
    #hamburguer::before {
        content: '';
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        transition: 0.3s;
        position: relative;
    }
    .links-internos.active #hamburguer {
        border-top-color: transparent;
    }
    .links-internos.active #hamburguer::before {
        transform: rotate(135deg);
    }
    .links-internos.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    .links-internos li {
        display: block;
    }
}
