.introducao {
    height: 100vh;
    pointer-events: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: absolute;
    top: 32px;
    z-index: 2;
}

.introducao img {
    margin: 0 auto;
    width: 260px;
}

.introducao h1 {
    padding: 40px 60px 60px 60px;
    font-size: 28px;
    color: #c0c0c0;
}

.introducao a {
    padding: 10px 10px;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    pointer-events: all;
    transition: 0.4s;
}

.introducao a:hover {
    background: #000;
    scale: 1.1;
    box-shadow: 0px 0px 16px #fff;
}

.introducao-2-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 80px 40px 80px;
    flex-wrap: wrap;
}
.introducao-2-img {
    max-width: 600px;
    min-width: 400px;
}

.intro-2-text h1 {
    font-size: 48px;
    padding-bottom: 16px;
}

.intro-2-text p {
    max-width: 540px;
    line-height: 1.6;
}

/* PATROCINADORES */

.patrocinadores {
    max-width: 1280px;
    padding: 60px 20px 120px 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 80px;
    justify-content: center;
    position: relative;
}

.patrocinadores img:nth-child(3) {
    position: relative;
    top: -10px;
}

.patrocinadores img:nth-child(4) {
    position: relative;
    top: -10px;
    max-width: 150px;
}

.patrocinadores img {
    max-width: 180px;
}

@media (max-width: 500px) {
    .introducao h1 {
        font-size: 20px;
    }
    .introducao-2-container {
        flex-wrap: wrap;
        padding: 40px 0px;
        text-align: center;
        width: 220px;
        text-align: start;
    }
    .introducao-2-container img {
        max-width: 400px;
    }
    .introducao-2-container h1 {
        font-size: 34px;
    }
}
