/* SOBRE INTRODUÇÃO */
.sobre-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.first- h1 {
    font-size: 3.375rem;
    text-transform: uppercase;
    max-width: 32.5rem;
    padding: 0 160px 20px 160px;
}

.first- p {
    font-size: 1.125rem;
    max-width: 32.5rem;
    padding: 0 160px 20px 160px;
    color: #d7d7d7;
}
.sobre-container img {
    width: 100%;
}

.second- h1 {
    font-size: 3.375rem;
    text-transform: uppercase;
    max-width: 37.5rem;
    padding: 0 80px 20px 80px;
}

.second- p {
    font-size: 1.125rem;
    max-width: 32.5rem;
    padding: 0 80px 20px 80px;
    color: #d7d7d7;
}

/* SOBRE SPECS */

.specs {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 40px;
}

.specs-navigator ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.specs-navigator ul li {
    background-color: #f7f7f7;
    color: #8a8a8a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    transition: 0.3s;
}

.specs-navigator ul li span {
    padding: 20px 0 10px 0;
}

/* SOBRE  DRONE */

.sobre-drone {
    background: url(../../img/sobre/sobre-img-3.png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-drone h1 {
    font-size: 2.375rem;
    text-transform: uppercase;
    padding: 0px 180px;
}

/* painel solar */

.painel-solar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.painel-solar h1 {
    font-size: 3.375rem;
    text-transform: uppercase;
    max-width: 40rem;
    padding: 0 60px 20px 60px;
}

.painel-solar p {
    font-size: 18px;
    max-width: 40rem;
    padding: 0 60px 20px 60px;
    color: #d7d7d7;
}

.painel-solar img {
    width: 100%;
}

/* PLANOS */

.planos {
    background: url(../../img/sobre/sobre-img5.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.planos-title {
    font-size: 44px;
    text-transform: uppercase;
    padding: 80px 0;
}

.planos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 120px;
}

.planos-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    border: 4px solid #fff;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: 'Roboto';
}

.planos-container div h1 {
    font-size: 28px;
    padding: 10px 20px 16px 20px;
    text-transform: uppercase;
}

.planos-container ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 20px 0;
    color: #dadada;
}

.planos-container ul li:before {
    content: url(../../img/sobre/check.svg);
    margin-right: 10px;
}

.planos-container span {
    font-size: 28px;
    color: #a1a1a1;
    text-decoration: line-through;
}

.mensalidade {
    font-size: 12px !important;
    color: #a1a1a1;
}

.planos-container p {
    font-size: 14px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.planos-container a {
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 5px 10px;
    text-transform: uppercase;
    margin: 0px 0px 20px 0;
    transition: 0.3s;
}

.planos-container a:hover {
    scale: 1.1;
    box-shadow: 0px 0px 10px #fff;
}

/* FORMAS DE PAGAMENTO */

.formas-de-pagamento {
    text-align: center;
    padding: 80px 0;
    max-width: 100%;
}

.formas-de-pagamento h1 {
    font-size: 2.625rem;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.moedas ul {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

@media (max-width: 680px) {
    .sobre-container .img1-sobre img {
        display: none;
    }
    .sobre-container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0 auto;
    }
    .first- h1 {
        font-size: 28px;
    }
    .first- {
        padding-top: 60px;
        margin-bottom: 60px;
    }
    .img2-sobre {
        display: none;
    }
    .sobre-drone {
        background: none;
        display: block;
        height: 28vh;
    }
    .sobre-drone h1 {
        font-size: 28px;
        padding: 10px 10px;
    }
    .sobre4-img {
        display: none;
    }
    .specs-navigator ul {
        display: grid;
        width: 120px;
        grid-template-columns: 1fr 1fr;
    }
    .specs-navigator ul span {
        font-size: 12px;
        text-align: center;
    }
    .specs {
        position: relative;
        left: -80px;
    }
    .second- h1 {
        font-size: 28px;
        max-width: 240px;
        margin-top: 20px;
        position: relative;
        left: 70px;
    }
    .planos {
        background: none;
    }

    .planos h1 {
        font-size: 28px;
    }
    .painel-solar h1 {
        font-size: 34px;
    }
    .painel-solar {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    .sobre-drone {
        padding: 10px 10px;
    }

    .sobre-drone h1 {
        font-size: 28px;
    }
    .moedas ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
